{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
   
   <!--bootstrap-->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    {% block css %}
    <!-- External CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'styles/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/NavMenu.css' %}">
    {% endblock css %}
    
</head> 
<body>
   
<!--header-->
        <nav class="navbar navbar-expand-lg navbar-light bg-info" style="height: 70px;">
                <div class="col-9 col-lg-9 col-md-9 col-sm-9 mt-2">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item mt-2 mr-1">
                           <a style="margin: 0px;"><img src="{% static 'images/file-svgrepo-com.svg' %}" style="height:50px"></a>
                        </li>
                        <li class="nav-item mt-2 mr-1">
                            <a class="navbar-brand ml-2 mt-0" href="#" style="font-size: 16px;">District<br> Superintendent</a>
                        </li>
                    </ul>
                </div>
                <div class="col-3 col-lg-3 col-md-3 col-sm-3 mb-2" style="text-align: right; justify-content: center;">
                    <ul class="navbar-nav justify-content-end">
                        <!-- <li class="nav-item mt-2 mr-1"><img src="{% static 'images/log-in-svgrepo-com.svg' %}" style="height:50px"></li> -->
                        <li class="nav-item mt-2 mr-1">
                          <a class="navbar-brand ml-2" style="font-size: 14px;" href="#">WELCOME<br>
                            <h5 class="m-0">AS AN ADMIN</h5>
                            <a href="/" type="button" class="btn btn-sm btn-outline-light ml-0 mb-3">Sign Out</a>
                          </a>
                        </li>
                    </ul>
                </div>
        </nav>
    <!--/.header>-->
    <!--menu-->
        <nav class="nav bg-dark menulist justify-content-center m-0">
          <a class="nav-link text-light m-2 mt-0" href="/DeptHome">Home</a>
          <a class="nav-link text-light m-2 mt-0" href="/CreateUser">Create User</a>
          <a class="nav-link text-light m-2 mt-0" href="/adminManageRegistry">Manage Department</a>
          <!-- <a class="nav-link text-light m-2 mt-0" href="/deptInwardReg">Inward Registery</a> -->
          <a class="nav-link text-light m-2 mt-0" href="#">Letter Acceptance</a>
          <a class="nav-link text-light m-2 mt-0" href="#">Reference Slag</a>
          <a class="nav-link text-light m-2 mt-0" href="/actionToBeTaken">Take Action</a>
          <!-- <a class="nav-link text-light m-2 mt-0" href="#">Ledger<br>Discripton/<br>Worksheet</a>
          <a class="nav-link text-light m-2 mt-0" href="#">Register<br>Case</a>
          <a class="nav-link text-light m-2 mt-0" href="#">Await<br>Register</a> -->
          <a class="nav-link text-light m-2 mt-0" href="/DeptReport">Reports</a>
          <a class="nav-link text-light m-2 mt-0" href="#">Record Sorting</a>
          <!-- <a class="nav-link text-light m-2 mt-0" href="#">Resend<br>Approved<br>Letters</a>
          <a class="nav-link text-light m-2 mt-0" href="#">Change<br>Security<br>Question</a> -->
        </nav>
    <!--/.menu-->
    {% block content %}
    <div class="card">
        <img src=" {% static 'images/allind2.png' %} " style="width:100%; height: 300px;">
        </div>
    {% endblock content %}
    

  </body>
  </html>