{% extends 'home.html' %}
{% load static %}

{% block css %}
    <!-- External CSS -->
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/NavMenu.css' %}">
{% endblock css %}

{% block content %}
<!-------------After Click on Edit-------------->
 <div class="m-3"></div>
<div class="container formcon" style="width: 65%;">
   <!--   <div class="head_name">
<button type="button" class="btn btn-primary btn-circle btn-lg float-left"><i class="fa fa-pencil"></i></button> -->
     <h5 class="text-center m-3 mb-4 border-bottom border-info">Ticket Information</h5>
 <!-- </div> -->
     <form>

        <div class="from-group row justify-content-between">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <label>Outward Number:</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" readonly class="form-control form-control-sm" id="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Reference Number:</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" readonly class="form-control form-control-sm" id="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Reference Date:</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" readonly class="form-control form-control-sm" id="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Date Of Ref. Received:</label>
                    </div>
                    <div class="col-md-6">
                        <input type="date" readonly class="form-control form-control-sm" id="">
                    </div>
                </div>
                 <div class="row">
                    <div class="col-md-6">
                        <label>Remark:</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" readonly class="form-control form-control-sm" id="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Ticket Information:</label>
                    </div>
                    <div class="col-md-6">
                        <table class="table table-bordered" cellspacing="0" >
                            <thead>
                                <tr>
                            <th>Rs.1</th>
                            <th>Rs.2</th>
                            <th>Rs.5</th>
                            <th>Rs.100</th>
                            <th>Rs.20</th>
                            <th>Rs.10</th>
                            <th>Rs.50</th>
                            <th>Rs.25</th>
                            <th>Total</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr>
                              <td contenteditable='true'></td>
                              <td contenteditable='true'></td>
                              <td contenteditable='true'></td>
                              <td contenteditable='true'></td>
                              <td contenteditable='true'></td>
                              <td contenteditable='true'></td>
                              <td contenteditable='true'></td>
                              <td contenteditable='true'></td>
                              <td contenteditable='true'></td>
                            </tr>
                        </tbody>     
                        </table>
                        </div>
                    </div>
            </div>
        </div>
        <div class="m-3"></div>
            <div class="form-footer footer row">
                <a href="/outwardRegistery"type="button" class="btn btn-primary ml-2"><i class="fa fa-save"></i>Save</a>
                <button class="btn btn-dark ml-2"><i class="fa fa-close"></i>Cancel</button>
            </div>
    </form>
</div>
<!-------------After Click on Edit-------------->
{% endblock content %}

