{% extends 'home.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/home.css' %}">
{% endblock css %}

{% block content %}

<!----------------Report Start-------------->
  <div class="m-2"></div>
<form action="/report/" method="POST">
  {% csrf_token %}
  <div class="container-fluid p-0">
    <h5 class="text-center m-3 border-bottom border-info">Report</h5>
    <div class="form-group text-center mt-2" >
      <label for="strtdt" class="form-content">Start Date</label>
      <input class="ml-2 form-control-sm" type="date" id="strtdt" name="strtdt" required>

      <label for="enddt" class="form-content ml-3">End Date</label>
      <input class="form-control-sm" type="date" id="enddt" name="enddt" required>

      <button class="btn btn-info form-control-sm ml-3" role="button" id="subtxt">ENTER</button> 
    </div>

    <div class="table-responsive" style="height: 400px;">
      <table class="table">
          <thead class="thead" style="text-align: center; background-color: #ace6f6;">
              <tr>
                  <th>ID</th>
                  <th>Reference Number</th>
                  <th>Reference Date</th>
                  <th>Date Of Reference Received</th>
                  <th>Received From</th>
                  <th>Status</th>
              </tr>
          </thead>
          <tbody style="text-align: center;" >
          {% for record in records %}
            <tr class="table-row">
              <td contenteditable='true'>{{record.id}}</td>
              <td contenteditable='true'>{{record.RecRefNumber}}</td>
              <td contenteditable='true'>{{record.LttrRecDate}}</td>
              <td contenteditable='true'>{{record.RecDate}}</td>
              <td contenteditable='true'>{{record.RecFrom}}</td>
              <td contenteditable='true'>{{record.Status}}</td>
            </tr>
          {% endfor %}
          </tbody>
      </table>
    </div>
  </div>
</form>

 <!----------------Report End-------------->
{% endblock content %}