
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');

body{
    font-family: 'Baloo Tammudu 2', cursive;
    background-color:#fff;
}

.formcon{
    width: 77%;
    padding: 4px 4vh;
    border-style: groove;
    border-radius: 5px;
    border-color: #17a2b8;
    font-size:14px;

}
.formcon input{
    margin-bottom: 2px;
    padding-top: 2px 0vh;

}
.formcon label{
    margin-top:3px;
    padding:1vh;
}
.form-footer{
    justify-content: center;
    padding:3px 0vh;
    margin: 3px;
}

/*------Manage Departements----*/



.footer .btn {
  /*background-color: DodgerBlue;*/
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  width: 83px;
  height: 40px;

}


/*--------------Searchbox---------------------*/

/* underline on hover  */

/* .navbar-nav .nav-link {
    text-decoration: none;
    position: relative;
    color: inherit;
  }
  
.navbar-nav .nav-link::after {
    position: absolute;
    content: "";
    height: .1em;
    top: 100%;
    background: currentColor;
    z-index: -1;
    left: 0;
    right: 0;
    transform: scaleX(0);
    transition: transform .5s cubic-bezier(.95, .05, .795, .035);
  }
  
.navbar-nav .nav-link :hover::after {
    transition-timing-function: cubic-bezier(.19, 1, .22, 1);  
    transform: scaleX(1);
  } */
