@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');
/* underline on hover  */

.nav-link {
    text-decoration: none;
    position: relative;
    color: inherit;
  }
  
.nav-link::after {
    position: absolute;
    content: "";
    height: .1em;
    top: 100%;
    background: currentColor;
    z-index: -1;
    left: 0;
    right: 0;
    transform: scaleX(0);
    transition: transform .5s cubic-bezier(.95, .05, .795, .035);
  }
  
.nav-link :hover::after {
    transition-timing-function: cubic-bezier(.19, 1, .22, 1);  
    transform: scaleX(1);
  }
  
